#!/usr/bin/make -f

VERSION=$(shell dpkg-parsechangelog |grep ^Version:|cut -d ' ' -f 2)

%:
	dh $@ --with dkms

override_dh_install:
	dh_install Makefile Readme* bluetooth_usb_driver 8723B usr/src/rtk-8723-bt-dkms-$(VERSION)/

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_auto_build:

override_dh_auto_install:
